
 
    
.container{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
   

}
    
.link-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(204, 204, 204);
    /* margin-left: 20px; */
   
    border-radius: 1em;
    min-height: 2em;
    align-items: center;
    font-size: 20px;
    
}
.container2{
    display: flex;
  
    align-items:center;
    justify-content:center;
    text-align: center;

}



.tex1{
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content:center;
}

.tex2{
    display: flex;
    align-items:center;
    flex-direction:column
    
}